<!-- start custom head snippets -->
<script src="https://kit.fontawesome.com/0b8ab3ed6f.js" crossorigin="anonymous"></script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<style>
    table {
      width: 100%;
      border-collapse: collapse;
      border: none;
      margin: 0;
      margin-bottom: 15px;
    }
    thead th {
      border-bottom: 1px solid #333;
    }
    tbody tr td {
      border-bottom: 1px solid #333;
    }
    th, td {
      border: none;
      padding: 8px 12px;
    }
    th:nth-child(1), td:nth-child(1) {
      text-align: left;
      white-space: nowrap;
    }
    th:nth-child(2), td:nth-child(2) {
      text-align: left;
    }
    th:nth-child(3), td:nth-child(3) {
      text-align: left;
    }
</style>
<!-- end custom head snippets -->
